.container {
  width: 1440px;
  margin: 0 auto;
}
#load-more {
  display: none;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  background-color: #3d8bfe;
  color: #fff;
}
#load-more.visible {
  display: block;
}
.info {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.info p {
  margin: 0 0;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  display: flex;
  justify-content: center;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-basis: calc((100% - 20px) / 3);
  justify-content: center;
}
.gallery li {
  border: 1px solid #000;
  width: 360px;
  height: 200px;
}
.gallery-image {
  transition: transform 0.3s ease;
  width: 360px;
  height: 152px;
}
.gallery-image:hover {
  transform: scale(1.05);
}
ul {
  list-style: none;
}

.loader {
  display: none;
  width: 48px;
  height: 48px;
  border: 5px solid #ccc;
  border-top-color: #3d8bfe;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  margin: 32px auto;
}

.loader.visible {
  display: block;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
